#menu{
    background-color: rgba(15, 12, 34, 0.815);
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#menu ol{
	list-style: none;
	margin: 0;
	padding:0;
}
#menu ol li{
	display: inline-block;
}
#menu ol li a{
    color: white;
	display: block;
	padding: 15px 20px;
    text-decoration: none;
}
#menu ol li a:hover{
    background-color: rgb(11, 167, 167);
}

::-webkit-scrollbar{
	background-color: white;
	width: 15px;
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
    background-color: rgb(15, 12, 34);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(36, 167, 167);
}

#cabeceraweb{
	background-color: rgba(18, 57, 163, 0.336);
	padding: 1px;
	font-size: 25px;
	color: white;
	display: flex;
	justify-content: center;
}


#BTNInicio{
    position: fixed;
	margin-left: 90%;
	margin-top: 20%;
	height: 50px;
	width: 100px;
	background-color: rgba(12, 7, 34, 0.466);
	border-radius: 100px;
	border-style: none;
	font-size: 20px;
	cursor: help;	
}

#BTNInicio a{
	text-decoration: none;
	color:whitesmoke;
	cursor: help;	
}


#pie {
	background-color: rgba(15, 12, 34, 0.815);
	margin-top: 5%;
    color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
}

canvas{
	background: url("../imagenes/logoTienda.png") no-repeat center center;
	background-size: 150px;
	margin: auto;
}

.imgFooter{
	transition: 1s;
}
.imgFooter:hover{
	transform: scale(1.5);
	transform: rotate(180deg);
	cursor: wait;
}




